<div>
  <h1>Pipes in Angular</h1>
  <div>
    <h3>Date Pipes</h3>
    <p>Full Date : {{ date | date:'full' }}</p>
    <p>Short Date : {{ date | date:'shortDate' }}</p>
    <p>Medium Date : {{ date | date:'mediumDate' }}</p>
    <p>Full Date : {{ date | date:'fullDate' }}</p>
    <p>Time : {{ date | date:'hh:mm' }}</p>
    <p>Time : {{ date | date:'mediumTime' }}</p>
    <p>Time : {{ date | date:'hh:mm:ss aaaaa' }}</p>
  </div>

  <div>
    <h3>Number Pipes</h3>
    <p>No Formating : {{ num }}</p>
    <p>2 Decimal Place : {{ num | number: '3.2'}}</p>
  </div>

  <div>
    <h3>Currency Pipes</h3>
    <p>No Formating : {{ num }}</p>
    <p>USD Doller($) : {{ num | currency:'USD':'symbol' }}</p>
    <p>USD Doller : {{ num | currency:'USD':'code' }}</p>
    <p>INR() : {{ num | currency:'INR':'symbol' }}</p>
    <p>INR : {{ num | currency:'INR':'code' }}</p>
  </div>

  <div>
    <h3>String Related Pipes</h3>
    <p>Actual Message : {{ str }}</p>
    <p>Lower Case : {{ str | lowercase }}</p>
    <p>Upper Case : {{ str | uppercase }}</p>
  </div>

  <div>
    <h3>Percentage Pipes</h3>
    <p>2 Place Formatting : {{ num | percent: '2.2-3' }}</p>
  </div>

</div>